dj-database-url==0.4.2
Django==1.11.4
django-crispy-forms==1.6.1
gunicorn==19.7.1
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3
pytz==2017.2
dj-database-url==0.4.2
Django==1.11.4
django-crispy-forms==1.6.1
django-extensions==2.0.7
djangorestframework==3.8.2
gunicorn==19.7.1
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3
pytz==2017.2
six==1.11.0
